{% extends "base.html" %}
{% block titlePage %} Homepage {% endblock %}
{% block content%}

    <blockquote style="color: darkblue;" class="blockquote-reverse">
        <p><i><b>"Art has no aim but its own perfection"</b></i></p>
    </blockquote>
    
    <h1>Benvenuto!</h1>
    <p>Questo spazio vuole simulare un social network. Ci sarebbero tante altre feature da implementare
      (like, commenti, condivisioni, direct messages...), ma l'obiettivo di questo progetto è prendere familiarità
      con tecnologie quali <b>Python, Flask, Jinja ed SQLAlchemy</b>. Per questo motivo, su questo portale, almeno per
      ora, è possibile solo: iscriversi, autenticarsi, aggiornare le proprie informazioni e condividere post.
    </p>

   
{% endblock %}